@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.font-pompier-custom {
  /* Usa la variable CSS que definiste en el layout */
  font-family: var(--font-pompier), cursive; 
}


/* ./globals.css */

/* Animación de llenado para el SVG */
.logo-relleno-blanco {
    /* Estado inicial: Oculto desde abajo */
    clip-path: inset(100% 0 0 0); 
    /* La animación se repetirá infinitamente, alternando entre lleno y vacío */
    animation: llenarLogo 3s ease-in-out infinite alternate; 
}

@keyframes llenarLogo {
    0% {
        /* Completamente vacío */
        clip-path: inset(100% 0 0 0);
    }
    100% {
        /* Completamente lleno */
        clip-path: inset(0% 0 0 0); 
    }
}